@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');
.home_box{
    background-color: black;
    height: 100vh;
    overflow: hidden;

}

.landing-logo{
   position: absolute;
   z-index: 10;
   top: 10px;
   right: 10px;
   height: 70px;
}

.home-title{
    text-align: center;
    margin-top: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: 800;
    font-family: "Philosopher", sans-serif;
    font-size: 2.5rem;
}

#binary-canvas{
    opacity: 0.7;
}

.home-btn{
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #275325;
    color: #c1c1c1;
    margin-top: 2rem;
    font-family: "Philosopher", sans-serif;
    padding: 0.5rem 1.5rem;
    width: 20rem;
}

.home-btn:hover{
    background-color: #3c7c38;


}

.landing-container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    text-align: center;

}
.landing-title{
  
    color: rgba(255, 255, 255, 0.808);
    letter-spacing: 5rem;
    padding-top: 1rem;
    font-weight: 400;
    z-index: 10;
    position: relative;
padding-left: 1rem;
    text-align: center;
    padding-top: 2rem;
}
.title-img{
    
    width: 15rem;
    display: block;
    margin: 0rem 1rem;
}

#img-o{
    transform: translate(-5%,-40%);
}

#img-s1{
    transform: translate(5%,-80%);
}

#img-s2{
    transform: translate(5%,-120%);
}

.landing-div{
    position: absolute;
    right: 20vw;
    top:20vh;
    height:60vh;
    
    background-color: transparent;
}
.btn_bg{
    height:100%;
    animation: rotate 15s infinite;
    animation-timing-function: linear;

}

.arrow{
    height:40vh;
    width: 40vh;
    position: absolute;
    border: none;
    /* border-radius: 50%; */
    z-index: 10;
    transform: translate(-50vh,10vh);
}
@keyframes rotate {
    0% {transform: rotate(360deg);}
  }