@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@500&display=swap');


#binary-canvas {
  opacity: 0.7;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}
.home_box{
  width: 100%;
  height: 100vh;
  overflow: hidden !important;
  background-color: black;
}

.landing-logo {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  height: 70px;
}

.home-title {
  text-align: center;
  margin-top: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  font-weight: 800;
  font-family: "Philosopher", sans-serif;
  font-size: 2.5rem;
}

.home-btn {
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #275325;
  color: #c1c1c1;
  margin-top: 2rem;
  font-family: "Philosopher", sans-serif;
  padding: 0.5rem 1.5rem;
  width: 20rem;
}

.home-btn:hover {
  background-color: #3c7c38;
}

.landing-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow-y: hidden;
}
.landing-title {
  color: rgba(255, 255, 255, 0.808);
  letter-spacing: 5rem;
  padding-top: 1rem;
  font-weight: 400;
  z-index: 10;
  position: absolute;
  padding-left: 1rem;
  text-align: center;
  padding-top: 8rem;
}
.title-img {
  width: 13rem;
  display: block;
  margin: 0rem 1rem;
}

#img-o {
  transform: translate(-5%, -40%);
}

#img-s1 {
  transform: translate(5%, -80%);
}

#img-s2 {
  transform: translate(5%, 0);
  margin-top: -12rem;
}

.landing-div {
  position: absolute;
  right: 20vw;
  top: 20vh;
  height: 60vh;

  background-color: transparent;
}
.btn_bg {
  height: 100%;
  animation: rotate 15s infinite;
  animation-timing-function: linear;
}

.arrow {
  height: 45vh;
  width: 45vh;
  position: absolute;
  border: none;
  z-index: 10;
  transform: translate(-52.5vh, 7.5vh);
  transition: 0.5s;
  border-radius: 50%;
}

.arrow:hover {
  transform: translate(-52.5vh, 7.5vh) scale(1.1);
}
@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
}

.landing-mobile{
  display: none;
}
@media (max-width: 960px) {
  .landing-container{
    min-height: 100vh;
  }
  .home_box {
    position: relative;
    display: flex;
    flex-direction: column;
  }
.mobile-logo{
  width: 60vw;
  position: relative;
  z-index: 10;
  margin-top: 10vw;
}
  .title-img {
    width: 5rem;
    position: absolute;
  }
  .landing-mobile{
    display: block;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .landing-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    padding-left: 0rem;
    display: none;
  }

  .images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100vh;
    height: 30vh;
    align-items: center;
  }

  #img-o {
    top: 7.21rem;
  }

  #img-s1 {
    top: 8.7rem;
  }

  #img-s2 {
    top: 10.3rem;
  }

  .landing-div {
   text-align: center;
   width: 30vh;
   height: 30vh;
  position: absolute;
  top: 60vh;
  left: 0px;
  left: calc(50vw - 15vh);
  margin: 0;
  }

 
  .btn_bg{
    height: 30vh;
  }

  .arrow {
    height: 25vh;
    width: 25vh;
    border: none;
    z-index: 10;
    transition: 0.5s;
    position: absolute;
    transform: translate(0,0%);
    left: 2.5vh;
    top: 2.5vh;
    /* transform: none; */
  }
  
  .arrow:hover {
    transform: none
  }

  .landing-mobile-title{
    font-size: 7.5vw;
    color: white;
    font-weight: 700;
    margin-top: -2rem;
    font-family: 'Genos', sans-serif;
    position: relative;
    z-index: 10;
  }
  #binary-canvas {
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .home_box{
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
  }
  
}
