.about-container {
  width: 100%;
  background-color: #041414;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

.about-title {
  color: #a2c2b5;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  padding-top: 2rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    #a0c6b7 20%,
    #49675b 40%,
    #729084 60%,
    #a0c6b7 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1.8s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
.about-div {
  overflow: hidden;
  padding: 1rem;
}
.about-box1 {
  display: inline-block;
  width: 50%;
  color: #a2c2b5;
  padding: 2rem;
  overflow: hidden;
  vertical-align: top;
}

/* .about-box2{
    display: inline-block;
    width: 30%;
    color: #a2c2b5;
    padding: 1rem;
    overflow: hidden; */
/* } */

.carousel{
  height: 25rem;
}

.about-title2 {
  color: #a2c2b5;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  position: relative;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.about-gif1 {
  width: 60%;
  margin-top: 3rem;
  margin-left: 50%;
  transform: translateX(-50%);
  opacity: 0.2;
  width: 20vw;
  position: absolute;
  top: 25vh;
  left: -22vw;
}

.about-gif2 {
  width: 60%;
  margin-top: 3rem;
  margin-left: 50%;
  transform: translateX(-50%);
  opacity: 0.2;
  width: 20vw;
  position: absolute;
  top: 32vh;
  right: 5vw;
}

.about-content {
  line-height: 180%;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 70%;
  margin-left: 15%;
  text-align: center;
  font-weight: 500;
}
.about-carousel {
  width: 100%;
  height: 30vw;
  background-color: rgb(61, 66, 71);
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 0rem 5rem;
  transform: translateX(-5rem);
}

.about-car-im{
  /* margin-top: -100px; */
  transform: translateY(-70px);
}
.about-car{
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.carousel-indicators{
  transform: translateY(3rem);
}
@media (max-width: 768px) {
  .about-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .carousel{
    height: auto;
  }
  .carousel-indicators, .carousel-control-next,.carousel-control-prev{
    display: none;
  }
  .events-ind-car-im{
    width: 90%;
    margin-left:5% ;
    height: 80%;
    margin-bottom: 2rem;
  }
  .about-car {
    width: 100%;
    height: 50vw;
    overflow: hidden;
  }
  .about-car img{
    width: 100%;
  }
  .about-box1 {
    display: flex;
    flex-direction: column;
    width: 100%;

  }

  .ab-cont{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .about-content {
    font-size: 1rem;
    line-height: 160%;
    width: 100%;
    margin: auto;
    margin-top: -2rem;
  }


  .about-title2 {
    font-size: 1.5rem;
  }

  .text-box {
    position: relative;
  }

  .about-gif1 {
    position: absolute;
    margin-top: -17rem;
    margin-left: 84%;
    width: 80%;
  }

  .about-gif2 {
    position: absolute;
    margin-top: -13rem;
    right: -9vw;
    width: 60%;
  }
}
