@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap");

.contact-container {
  width: 100vw;
  height: 100vh;
  background-color: #041414;
  overflow-x: hidden;
  position: relative;
}
.contact-title {
  color: #a2c2b5;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  padding-top: 2rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    #a0c6b7 20%,
    #49675b 40%,
    #729084 60%,
    #a0c6b7 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1.8s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
.contact-h {
  font-size: 2.2rem;
  width: 52vw;
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
  font-family: "Source Code Pro", monospace;
  margin-top: 42vh;
}

.contact-h3 {
  font-size: 2.2rem;
  width: 55vw;
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
  font-family: "Source Code Pro", monospace;
  margin-top: 35vh;
}

.contact-h2 {
  font-size: 2.2rem;
  width: 55vw;
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
  font-family: "Source Code Pro", monospace;
  margin-top: 0vh;
}

.next-btn {
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  color: #041414;
  overflow-x: hidden;
  background-color: #a2c2b5;
  font-family: "Times New Roman", Times, serif;
  margin: 2rem auto;
  font-weight: 700;
  margin-left: 50%;
  transform: translateX(-50%);
}

.next-btn:hover {
  cursor: pointer;
}

.next-btn-2 {
  border: none;
  width: 3rem;
  height: 3rem;
  color: #041414;
  background-color: #a2c2b5;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 50%;
  transform: translate(75vw, -100%);
}

.dr {
  padding: auto;
  transform: translateY(-2px);
}

.c-form-inp {
  background-color: transparent;
  border: none;
  color: #a2c2b5;
  border-bottom: 1px solid #a2c2b5;
  font-size: 2rem;
  width: 50%;
  margin-left: 24%;
  margin-top: 2rem;
}
.c-form-inp::placeholder {
  font-weight: 900;
  border: hidden;
  text-align: center;
}

.c-form-inp:focus {
  outline: none;
}

.robot-gif {
  width: 18rem;
  top: 40vh;
  left: 2vw;
  display: block;
  position: absolute;
}

.ty-robot {
  width: 18rem;
  margin-left: 50%;
  transform: translateX(-50%);
  padding-top: 10vh;
}

#c0,
#c1,
#c2,
#c3,
#c4 {
  opacity: 0;
  transition: 0.5s;
}

#c0 {
  opacity: 1;
}

#btn-id {
  transition: 0.5s;
  opacity: 0;
}

.contact-icon {
  color: #a2c2b5;
  font-size: 1.6rem;
  margin: 1rem;
  transition: 0.5s;
}
.icon-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20px;
  top: 40%;
}

.contact-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.next-btn:hover {
  cursor: pointer;
  transform: scale(1.05) translateX(-50%);
}

.next-btn-2:hover {
  cursor: pointer;
  transform: scale(1.05) translate(72vw, -100%);
}

@media (max-width: 768px) {
  .contact-title {
    font-size: 2rem;
    margin-top: 0;
    transform: translateY(-40%);
  }

  .contact-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .contact-h3 {
    font-size: 1.25rem;
    width: 100vw;
    margin-top: 30vh;
    margin-bottom: 2rem;
  }

  .next-btn {
    font-size: 1rem;
    margin-right: auto;
  }
  .robot-gif {
    top: 0vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 45vw;
  }
  
  #robot-gif2{
    top: 15vh;

  }

  .icon-container {
    flex-direction: row;
    top: 90%;
    width: 75vw;
    margin: auto;
  }

  #c1,
  #c2,
  #c3 {
    position: relative;
    width: 40vh;
    font-size: 1.3rem;
    top: 10vh;
  }
  .next-btn-2 {
    position: absolute;
    left: 50vw;
    bottom: 17vh;
    border: none;
    width: 3rem;
    height: 3rem;
    color: #041414;
    background-color: #a2c2b5;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 50%;
    transform: translate(-50%, 0%);
  }
  .next-btn-2:hover{
    transform: translate(45vw, 50%);

  }
  .c-form-inp {
    font-size: 1.5rem;
    margin-top: 10rem;
    width: 80%;
    margin-left: 10%;
  }

  .ty-robot {
    width: 12rem;
    margin-left: 50%;
    transform: translateX(-50%);
    padding-top: 10vh;
  }
.contact-h {
  font-size: 2.2rem;
  width: 52vw;
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
  font-family: "Source Code Pro", monospace;
  margin-top: 25vh;
}

  .contact-h2 {
    font-size: 1.3rem;
    width: 80vw;
  }

  .ty {
    margin: auto;
    margin-top: 8rem;
  }
}
