.events-container {
  width: 100%;
  background-color: #a2c2b5;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

.events-title {
  color: #041414;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  padding-top: 1rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    #49675b 20%,
    #1e2d27 40%,
    #3b4e47 60%,
    #151c19 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1.8s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.events-title2 {
  color: #041414;
  text-align: center;
  font-size: 9rem;
  font-weight: 800;
  padding-top:7rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    #49675b 20%,
    #1e2d27 40%,
    #3b4e47 60%,
    #151c19 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1.2s linear infinite;
}
